Repository MyHouse-OS/API: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun format
  stage_fixed: true

lint:
  run: bun lint

fix: add Prisma generate and env vars to PR workflow
  .github/workflows/pr.yml
Due: none

fix: add DATABASE_URL env var for Knip in PR workflow
  .github/workflows/pr.yml
Due: none

fix: exclude ~/.bun cache from Knip scan
  knip.json
Due: format

chore: remove unused dotenv dependency and fix knip config
  bun.lock
  knip.json
  package.json
Due: format

chore: update package.json to add mcp script and new dependencies
  bun.lock
  package.json
Due: format

feat: expose additional port 3001 for the application
  Dockerfile
  compose.yaml
Due: none

feat: start MCP server and update server information in the console log
  index.ts
Due: format, lint

feat: add integration tests for MCP tools and authentication verification
  tests/integration/e2e.test.ts
  tests/mcp/tools.test.ts
  tests/mocks/prisma.ts
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
  tests/rules/engine.test.ts
  tests/utils/auth.test.ts
Due: format, lint

feat: implement client authorization verification function
  src/utils/auth.ts
Due: format, lint

refactor: clean up db.ts by removing unnecessary comments and improving clarity
  prisma/db.ts
Due: format, lint

feat: implement MCP server and tools for home automation control
  src/mcp/index.ts
  src/mcp/server.ts
  src/mcp/tools.ts
Due: format, lint

refactor: reorganize imports in index.ts and server.ts for clarity
  index.ts
  src/mcp/server.ts
Due: format, lint

refactor: remove unused export from mcp index.ts
  src/mcp/index.ts
Due: format, lint

feat(ci): improve Docker workflow with Buildx, caching and semver tags
  .github/workflows/docker.yml
Due: none

chore: update .env.example with MCP_PORT and API_BASE_URL configuration
  .env.example
Due: none

feat: include .env.example in the Docker image for environment configuration
  Dockerfile
Due: none

fix: set default connection string for database configuration
  prisma/db.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
