Repository MyHouse-OS/API: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bun format
      stage_fixed: true
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun lint

feat: add knip configuration file for dependency management
  knip.json
Due: format

feat: add knip configuration file for dependency management
  bun.lock
  package.json
Due: format

docs: update README.md for improved clarity and instructions
  README.md
Due: none

chore: update package.json to add Prisma dependencies and maintain version consistency
  bun.lock
  package.json
Due: format

refactor: replace @prisma/adapter-libsql with @prisma/adapter-pg and update dependencies
  bun.lock
  package.json
Due: format

feat: add bunfig.toml configuration file for Bun runtime and package management
  bunfig.toml
Due: none

chore: remove unused Prisma dependencies from package.json
  .gitignore
  bun.lock
  package.json
Due: format

chore: add Prisma generated directories to .gitignore
  .gitignore
Due: none

chore: update package.json to add Prisma commands and dependencies
  bun.lock
  package.json
Due: format

feat: add initial Prisma configuration, schema, and migration files for PostgreSQL
  prisma.config.ts
  prisma/migrations/20251217135323_test/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: format, lint

feat: integrate routes into the Elysia app and remove temporary route groups
  index.ts
Due: format, lint

feat: add Prisma database connection setup with PostgreSQL adapter
  prisma/db.ts
Due: format, lint

feat: add authentication and toggle routes with corresponding handlers
  src/routes/auth/index.ts
  src/routes/index.ts
  src/routes/temp/index.ts
  src/routes/toggle/door.ts
  src/routes/toggle/heat.ts
  src/routes/toggle/index.ts
  src/routes/toggle/light.ts
Due: format, lint

feat: add HomeState model and migration for tracking home state data
  prisma/migrations/20251217141124_home_state/migration.sql
  prisma/schema.prisma
Due: none

feat: add example environment configuration for PostgreSQL database connection
  .env.example
Due: none

fix: reorder imports for consistency in db and toggle route files
  prisma/db.ts
  src/routes/index.ts
  src/routes/toggle/index.ts
Due: format, lint

fix: correct console log messages for consistency in server output
  index.ts
Due: format, lint

feat: update Dockerfile and compose.yaml to include src and prisma directories for app build
  Dockerfile
  compose.yaml
Due: none

feat: implement authentication endpoint with validation for headers and body
  src/routes/auth/index.ts
Due: format, lint

feat: enable tests in Dockerfile and update entrypoint in compose.yaml for migration and app start
  Dockerfile
  compose.yaml
Due: none

feat: enhance biome configuration with additional linter rules and formatter options
  biome.json
Due: format

feat: update dependencies and scripts in package.json and bun.lock for improved functionality
  bun.lock
  package.json
Due: format

feat: add authentication middleware for client validation and token decryption
  src/middleware/auth.ts
Due: format, lint

feat: add EventType enum for event categorization
  src/enums.ts
Due: format, lint

feat: integrate CORS support and enhance server initialization with event handling
  index.ts
Due: format, lint

feat: update entrypoint in Docker Compose to include database seeding
  compose.yaml
Due: none

feat: update Prisma schema to include History model and refine EventType enum
  prisma/schema.prisma
Due: none

feat: add migration for History table and EventType enum
  prisma/migrations/20251218190838_feat_history/migration.sql
Due: none

feat: add seed script for initial database setup and data seeding
  prisma/seed.ts
Due: format, lint

feat: implement event bus with initial event definitions
  src/utils/eventBus.ts
Due: format, lint

feat: add encryption and decryption utility functions
  src/utils/crypto.ts
Due: format, lint

feat: add system health check route with database connection status
  src/routes/status/index.ts
Due: format, lint

feat: implement client registration endpoint with database integration
  src/routes/auth/index.ts
Due: format, lint

feat: implement home state management and rule engine with WebSocket support
  src/routes/check/index.ts
  src/routes/index.ts
  src/routes/temp/index.ts
  src/routes/toggle/door.ts
  src/routes/toggle/heat.ts
  src/routes/toggle/light.ts
  src/routes/ws/index.ts
  src/rules/definitions.ts
  src/rules/engine.ts
  src/services/homeState.ts
Due: format, lint

fix: handle token decryption errors and return appropriate response
  src/routes/check/index.ts
Due: format, lint

refactor: clean up route middleware usage for better readability
  src/routes/index.ts
Due: format, lint

refactor: remove unnecessary comments and clean up WebSocket connection logic
  src/routes/ws/index.ts
Due: format, lint

feat: add Prisma generate command to Dockerfile for database setup
  Dockerfile
Due: none

feat: add root client initialization to seed script
  prisma/seed.ts
Due: format, lint

refactor: remove previewFeatures from Prisma client generator
  prisma/schema.prisma
Due: none
