Repository MyHouse-OS/API: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun format
  stage_fixed: true

lint:
  run: bun lint

feat: update server startup logs to include dynamic port configuration
  index.ts
Due: format, lint

refactor: remove unnecessary comments from homeState service
  src/services/homeState.ts
Due: format, lint

feat: enhance API responses with detailed error handling and add history routes
  src/routes/auth/index.ts
  src/routes/check/index.ts
  src/routes/history/index.ts
  src/routes/index.ts
  src/routes/status/index.ts
  src/routes/temp/index.ts
  src/routes/toggle/door.ts
  src/routes/toggle/heat.ts
  src/routes/toggle/light.ts
  src/routes/ws/index.ts
Due: format, lint

fix: change noExplicitAny rule from warn to error in linter configuration
  biome.json
Due: format

feat: add comprehensive test cases for authentication, check, features, public, and websocket routes
  tests/routes/__snapshots__/auth.test.ts.snap
  tests/routes/__snapshots__/check.test.ts.snap
  tests/routes/__snapshots__/features.test.ts.snap
  tests/routes/__snapshots__/public.test.ts.snap
  tests/routes/auth.test.ts
  tests/routes/check.test.ts
  tests/routes/features.test.ts
  tests/routes/public.test.ts
  tests/routes/ws.test.ts
  tests/rules/engine.test.ts
  tests/utils/crypto.test.ts
Due: format, lint

feat: configure CORS settings for enhanced security and flexibility
  index.ts
Due: format, lint

refactor: streamline WebSocket connection handling and improve logging
  src/routes/ws/index.ts
Due: format, lint

feat: enhance rule descriptions and conditions for heating and lighting actions
  src/rules/definitions.ts
Due: format, lint

refactor: remove redundant comments in rule engine initialization
  src/rules/engine.ts
Due: format, lint

feat: allow dynamic salt configuration for encryption
  src/utils/crypto.ts
Due: format, lint

feat: add example environment configuration and documentation
  .env.example
Due: none

docs: add comprehensive documentation for BunServer setup and API usage
  DOCUMENTATION.md
Due: none

refactor: restructure and enhance README documentation for better clarity and completeness
  DOCUMENTATION.md
  README.md
Due: none

feat: add end-to-end integration tests for authentication and state management
  tests/integration/e2e.test.ts
Due: format, lint

feat: add unit tests for authentication middleware with various credential scenarios
  tests/middleware/auth.test.ts
Due: format, lint

feat: add comprehensive unit tests for HomeState service methods and state management
  tests/services/homeState.test.ts.disabled
Due: none

test: add unit tests for eventBus functionality and event emission
  tests/utils/crypto.test.ts
  tests/utils/eventBus.test.ts
Due: format, lint

feat: enhance authentication tests and add history route tests with error handling
  tests/routes/auth.test.ts
  tests/routes/check.test.ts
  tests/routes/features.test.ts
  tests/routes/history.test.ts
  tests/routes/public.test.ts
  tests/routes/ws.test.ts
Due: format, lint

feat: add snapshot tests for history route with various data scenarios
  tests/routes/__snapshots__/features.test.ts.snap
  tests/routes/__snapshots__/history.test.ts.snap
Due: none

feat: add unit tests for rule definitions and enhance rule engine tests
  tests/rules/definitions.test.ts
  tests/rules/engine.test.ts
Due: format, lint

feat: add CI and PR workflows for automated testing and linting
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

feat: update biome check to enforce error on warnings for src and tests
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

feat: enhance test setup with beforeEach for consistent mock state initialization
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

feat: add beforeEach hooks for consistent mock state initialization in tests
  tests/middleware/auth.test.ts
  tests/routes/auth.test.ts
  tests/routes/check.test.ts
  tests/routes/history.test.ts
  tests/routes/public.test.ts
Due: format, lint

feat: enhance mockPrisma setup in tests for improved route handling
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

feat: update mock state temperature and door status in tests for consistency
  tests/routes/__snapshots__/features.test.ts.snap
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

refactor: centralize Prisma mock for test isolation
  bunfig.toml
  error
  tests/integration/e2e.test.ts
  tests/middleware/auth.test.ts
  tests/mocks/prisma.ts
  tests/routes/auth.test.ts
  tests/routes/check.test.ts
  tests/routes/features.test.ts
  tests/routes/history.test.ts
  tests/routes/public.test.ts
  tests/routes/ws.test.ts
Due: format, lint

chore: remove accidental error file
  error
Due: none

chore: clean up test files for improved readability and maintainability
  tests/mocks/prisma.ts
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

feat: update mock state handling to prevent mutation without valid data
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

feat: enhance CI workflow by adding Prisma Client generation step and improve db.ts for test environments
  .github/workflows/ci.yml
  prisma/db.ts
Due: format, lint

feat: add DATABASE_URL environment variable for Prisma Client generation in CI
  .github/workflows/ci.yml
Due: none

feat: enhance CI configuration with encryption keys and improve WebSocket tests for better property validation
  .github/workflows/ci.yml
  tests/mocks/prisma.ts
  tests/routes/ws.test.ts
Due: format, lint

refactor: update prisma mock module paths for cross-platform compatibility using import.meta.resolve
  tests/mocks/prisma.ts
Due: format, lint

feat: enhance test environment setup by improving PrismaClient initialization and adding cleanup for event listeners
  prisma/db.ts
  tests/mocks/prisma.ts
  tests/rules/engine.test.ts
Due: format, lint

feat: refactor Prisma initialization and enhance mock integration for test environments
  prisma/db.ts
  tests/mocks/prisma.ts
Due: format, lint

chore: skip flaky tests that fail in CI Linux environment
  tests/routes/features.test.ts
  tests/routes/ws.test.ts
Due: format, lint

fix: add missing token for Codecov action in CI workflow
  .github/workflows/ci.yml
Due: none

fix: add missing slug parameter to Codecov action in CI workflow
  .github/workflows/ci.yml
Due: none

feat: add Docker workflow for building and pushing images
  .github/workflows/docker.yml
Due: none

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json}
  lint: any of: *.{js,ts,jsx,tsx}
